@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import '../../utils/styles/var';
.wrapper {
  margin: 0 auto;
  max-width: 98%;
}
/** центровка страницы */

.flex {
  display: flex;
  margin-top: 20px;
}
header {
  padding: 20px 0;
}
nav {
  margin-right: 10px;
  flex: 1;
}

section {
  flex: 4;
}
header,
section {
  border: 1px solid grey;
  margin-bottom: 10px;
  border-radius: 3px;
}
ul > li {
  margin-bottom: 1rem;
}
.link {
  text-decoration: none;
  color: #000;
  font-size: 17px;
}
.link:hover {
  color: rgb(3, 110, 250);
}
.link__active {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #eee;
}
.title {
  font-size: 32px;
  margin: 0 0 18px;
  line-height: 1.1;
  font-weight: 400;
  color: #000;
}
.profile__content {
  background: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  padding: 30px 30px 40px;
}
.grid__layout {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 15px;
  align-items: center;
}
.field {
  border: 1px solid #acacac;
  background: #fff;
  border-radius: 4px;
  line-height: normal;
  vertical-align: middle;
  -webkit-transition: border-color 0.1s;
  -o-transition: border-color 0.1s;
  transition: border-color 0.1s;
  padding: 6px 8px;
  font-size: 16px;
  height: 36px;
  font-family: "Montserrat", sans-serif;
  width: 150%;

}
.btn__save {
  margin-top: 20px;
  text-align: center;
}
.btn__pos {
  margin: 15px 0 0 150px;
}
.row {
  display: flex;
  align-items: flex-start;
}
.clear {
  margin-left: 15px;
}
.clear:hover {
  color: $colorButton;
  cursor: pointer;
}
.productCard__wrapper {
  position: relative;
}

/**************************************
/**CSS TO MAKE THE EXAMPLE LOOK PRETTY
/**************************************/

// *,
// *:before,
// *:after {
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
// }
// body {
//   margin: 0;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   /* background: #2980b9; */
//   /* color: #FFF; */
//   font-family: "Montserrat", sans-serif;
// }
// ul {
//   list-style: none;
//   padding: 0;
//   margin: 0;
// }
