@import '../../../theme/styles/var';
@import '../../../theme/styles/mixins';

.container {
  @extend %custom-shadow;
  @extend %custom-border;
  background-color: $colorWhite;
}

.container {
  :global {
    .react-tabs__tab-list {
      padding-top: 10px;
      border: none;
      margin-bottom: 5px;
    }
    .react-tabs__tab {
      margin-left: 20px;
      border: none;
    }
    .react-tabs__tab--selected {
      border-bottom: 2px solid $colorCyan;
    }
    .react-tabs__tab-panel {
      border: none;
    }
  }
}

.tab {
  padding: 10px 20px;
}

:global {
  .product__description {
    & p,
    div {
      font-size: $fontSizeText;
      line-height: 1.5;
      padding-bottom: 10px;

      @media (min-width: $tabMin) and (max-width: $tabMax) {
        font-size: $fontSizeText_tab;
        line-height: 1.3;
        padding-bottom: 8px;
      }

      @media (min-width: $mobMin) and (max-width: $mobMax) {
        font-size: $fontSizeText_mobile;
        line-height: 1.1;
        padding-bottom: 5px;
      }
    }
  }
}
