@import '../../../../../utils/styles/var';
.filter {
  text-align: center;
  margin-top: 25px;
}
.text {
  font-size: 14px;
  padding-right: 1em;

}
.select {
  font-size: 14px;
  padding-right: 1em;
  font-weight: 600;
}
.select:active,
.select:focus {
    color: $colorButton;
    border: 1px solid $colorButton;
}
