@import '../../utils/styles/var';
.pagination {
  display: flex;
  text-align: center;
  align-items: center;
  flex-flow: row wrap;
}
.center {
  display: flex;
  justify-content: center;
}
.page__item {
  margin: 20px 10px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  text-transform: uppercase;
}
.page__item:hover .page__number,
.page__item:hover .page__prev,
.page__item:hover .page__next {
  color: $colorButton;
}
.page__number {
  font-size: 25px;
}
.active {
  border: 2px solid $colorButton;
  color: $colorButton
}
.page__next,
.page__prev {
  font-size: 1rem;
}
