.checkbox_box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.option_title {
  border: none;
  min-width: 50px;
  max-width: 200px;
  background-color: white;
  padding: 8px;
  font-weight: bold;
  &_arrow {
    width: 10px;
    display: inline-block;
    transform: rotate(90deg);
    transform: scaleX(3px);
    color: black;
    font-weight: 400;
  }
  &:hover {
    transition: all ease-out 0.3s;
    // background-color: rgb(243, 243, 243);
  }
}

.option_list {
  display: flex;
  flex-flow: column;
  border-radius: 3px;
  margin: 0;
  top: 33px;
  padding: 7px;
  min-width: 180px;
  max-width: 350px;
  background-color: white;
  overflow: hidden;
}

.option_item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  padding: 8px;

  &_input {
    max-width: 90px;
  }
  &_ckeckbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-right: 10px;
  }
  &:hover {
    color: rgb(71, 147, 233);
  }
}
