.ReactModalPortal > div {
    opacity: 0;
  }

  .ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: opacity 200ms ease-in-out;
  }

  .ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
    position:relative;
    z-index: 100;
  }

  .ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
  }

  .modal {
    background:#fff;
    color: #000;
    max-width: 35rem;
    outline: none;
    padding: 1.5rem 3rem;
    text-align: center;
  }
  .button {
      background: #fff;
      border:1px solid #000;
      border-radius: 5px;
      color:#000;
      margin-left: 1.5rem;
      padding: 0.3rem 1.5rem;

  }
  .ok {
    background: blue;
    border:1px solid blue;
    color:#fff;
    padding: 0.3rem 1.8rem;

  }
  .position {
    margin-top: 20px;
    text-align: right;
  }
