.tabContainer {
  padding: 30px;
  background-color: white;
}

.citiesTitle {
  color: #959595;
  font-size: 15px;
}

.lastHr {
  margin-bottom: 30px;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 50px;
}
