.tabContainer {
  padding: 30px;
  background-color: white;
}

.citiesTitle {
  color: #959595;
  font-size: 15px;
}

.lastHr {
  margin-bottom: 30px;
}

.title {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 30px 0;
}
