@import '../../../theme/styles/var';

.container {
  position: fixed;
  z-index: 400;
  width: 100%;
  height: 100%;
  border: 1px solid $colorLightGray;
  background: $colorGhostWhite;
  top: 0;
  opacity: 0;
  right: -100%;
  transition: 0.3s ease-in-out;
  overflow-y: scroll;
}
.active {
  opacity: 1;
  right: 0%;
}

.icon__container {
  position: absolute;
  top: 10px;
  outline: none;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    top: 8px;
    left: 30px;
    font-size: 12px;
  }
  @media (min-width: 769px) and (max-width: $tabMax) {
    top: 40px;
    left: 50px;
    font-size: 12px;
  }
}

.title__wrapper {
  text-align: center;

}
.title {
  margin: 17px 0 0 0;
  font-size: 22px;
  @media screen and (max-width: 768px) {
   font-size: 18px;
  }
}
.bag__block {
  text-align: center;
  margin-top: 100px;
}
.btn__container {
  text-align: center;
  margin-top: 50px;
  margin-right: 15px;
}
.btn__back {
  display: inline-flex;
  align-items: center;
  padding-right: 20px;


}
