@import '../../../theme/styles/var';

.container {
  position: fixed;
  z-index: 200;
  width: 101%;
  height: 100%;
  border: 1px solid $colorLightGray;
  background: $colorGhostWhite;
  opacity: 0;
  top: -100%;
  left: -5px;
  transition: 0.3s ease-in-out;
  overflow-y: scroll;
}
.active {
  opacity: 1;
  top: 0%;
}
.form__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}
.icon__container {
  position: absolute;
  top: 4%;
  left: 5%;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  @media screen and (max-width: 500px) {
    top: 2.5%;
    left: 3%;

  }
  @media (min-width: 501px) and (max-width: 768px) {
    top: 2.5%;
    left: 3%;

  }
}
.tabs__container {
  :global {
    .react-tabs__tab-list {
      padding-top: 20px;
      border: none;
      margin-bottom: 50px;
      text-align: center;
    }
    .react-tabs__tab {
      border: none;
    }
    .react-tabs__tab--selected {
      border-bottom: 3px solid $colorCyan;
    }
    .react-tabs__tab-panel {
      border: none;
    }
  }
}
.grid__container {
  width: 75%;
  margin-left: auto;
  margin-right: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  row-gap: 25px;
  margin-top: 30px;

}

.end {
  border-top: 1px solid grey;
  border-right: none;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  text-align: center;
}
.btn_logSocial {
  border-left: none;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
 
}
