@import '../../utils/styles/var';


.location {
  color: grey;
  font-size: 0.8rem;
}
.name {
  font-weight: 400;
  margin: 0.8rem 0 0.8rem;

}
.row {
  display: flex;

  &__top {
    margin-top: 3rem;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__start {
    justify-content: flex-start;
    font-size: 0.9rem;
  }
  &__between {
    justify-content: space-between;
    align-items: baseline;
    padding: 1.3rem 0;
  }
  &__center {
    align-items: center;
  }
}

.gap {
  margin-right: 1rem;
}
.col__one {
  padding-right:20px;
  width: 50%;
}
.col__two {
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  width: 50%;
}
.price {
  font-size: 1.9rem;
  margin-right: 1rem;
}
.oldPrice {
  font-size: 1.4rem;
  color: lightgrey;
  text-decoration: line-through;
}
.btns__block {
  padding: 2.8rem 0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
.btns__center {
  @media (min-width: $tablet-breakpoint1) and (max-width: $tablet-breakpoint2) {
    text-align: center;
  }
}
.btn__buy {
  background-color: $colorButton;
  padding: 6px 14px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 1.3rem;
}
.btn__gap {
  margin-left: 0.7rem;
}

.success {
  color: #22c422;
}
.danger {
  color: #a02020;
}
.delivery {
  color: #000000;
  text-decoration: none;
  margin-left: 5px;
}
.delivery:hover {
  color: $colorButton;
  text-decoration: none;
}
.review {
  color: grey;
  text-decoration: none;
}
.review:hover {
  color: $colorButton;
  text-decoration: none;
}
.about {
  font-size: 1rem;
  font-weight: 600;
  color: grey;
  border: none;
  background-color: #ffffff;
  padding: 0.5rem;
}
.about:hover {
  color: $colorButton;
  cursor: pointer;
}
.about:focus {
  outline: none;
  color:#000000;
}
.active {
  color: #000000;
  border-top: 1px solid #000000;
}
.info__block {
  border-top: 1px solid lightgrey;
  padding-bottom: 40px;
}
.icon__frame {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid lightgrey;
  margin-right: 10px;
}
.section__title {
  font-size: 1rem;
  font-weight: 600;
  color: black;
  margin: 1rem 0;
}

//** Image */
.img__box {
  position: relative;

}
.large {
  transition: 0.3s ease-in-out;
}
.img__box:hover .large {
  transform: scale(1.2);
}
.img__box:hover .newMessage {
  opacity: 0;
}
.img__box:hover .brand__little {
  opacity: 0;
}
.newMessage {
  width:max-content;
  background-color: #3da5ca;;
  color: white;
  border-radius: 3px;
  padding: 6px 8px;
  font-size: 14px;
  margin-bottom: 25px;

  &::before {
    content: '';
    position: absolute;
    left: 7px; bottom: -14px;
    border: 8px solid transparent;
    border-top: 6px solid #3da5ca;
  }
}
.brand__little {
  position: absolute;
  top: 40px;
  right: 40px;
}
.info__block__top {
  border-top: 1px solid lightgrey;
  margin-top: 25px;
}
.review__group {
  display: flex;
  position: relative;
}
.entryWith__group {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: space-between;
  & * {
    margin-right: 10px;
  }
  &__text {
    font-size: 12px;
    color: #ACACAC;
  }
}
