@import '../../utils/styles/var';

.setQuantity {
  font-size: 14px;
}
.select {
  border: 2px solid $colorDark;
  padding: 3px 6px;
  margin-left: 15px;
  border-radius: 5px;
  &:focus {
    border: 2px solid $colorButton;
  }
}
