@import '../../theme/styles/var';

.setQuantity {
  display: flex;
  align-items: center;
  font-size: $fontSizeText_tab;

  @media (min-width: $tabMin) and (max-width: $tabMax) {
    font-size: 13px;
  }

  @media (min-width: $mobMin) and (max-width: $mobMax) {
    font-size: 12px;
  }
}

.setQuantityText {
  @media (min-width: $mobMin) and (max-width: $tabMax) {
    display: none;
  }
}

.icons {
  display: none;
  @media (min-width: $mobMin) and (max-width: $tabMax) {
    display: block;
  }
}

.select {
  cursor: pointer;
  border: 2px solid $colorDarkLight;
  border-radius: 5px;
  padding: 3px 6px;
  margin-left: 15px;
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    font-size: 13px;
  }

  @media (min-width: $mobMin) and (max-width: $mobMax) {
    font-size: 12px;
  }
}
