<<<<<<< HEAD
@import '../../../utils/styles/var';

.page_404 {
  text-align: center;
  padding: 50px 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    padding: 25px 10px;
  }
  @media (max-width: $mobMax) {
    padding: 10px;
  }
}

.fourZeroFourBg {
  height: 400px;
  background-position: center;
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    height: 350px;
  }
  @media (max-width: $mobMax) {
    height: 350px;
  }
}
.title {
  font-size: 40px;
  margin: 0;
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    font-size: 30px;
  }
  @media (max-width: $mobMax) {
    font-size: 24px;
  }
}

.contant_box_404 {
  margin-top: -60px;
  @media (max-width: $tabMax) {
    margin-top: -45px;
  }
}
.h2 {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  @media (max-width: $mobMax) {
    font-size: 16px;
  }
}
.p {
  margin-bottom: 20px;
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    font-size: 14px;
    margin-bottom: 10px;
  }
  @media (max-width: $mobMax) {
    margin-bottom: 5px;
    font-size: 16px;
  }
=======
.error {
  text-align: center;
}

.img {
  width: 200px;
}

.h3 {
  margin: 30px;
>>>>>>> a265f7c0ceaaf354d3941376c84167eb9aaee78b
}
