@import '../../utils/styles/mixins';

.productsContainer {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @extend %custom-shadow;
  @extend %custom-border;
}
