@import '../../theme/styles/var';

.productsList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.message {
  font-size: $fontSizeText;
  margin-top: 50px;
  text-align: center;

  @media (min-width: $tabMin) and (max-width: $tabMax) {
    font-size: $fontSizeText_tab;
  }

  @media (min-width: $mobMin) and (max-width: $mobMax) {
    font-size: $fontSizeText_mobile;
  }
}
