@import '../../theme/styles/var';

.option_btn {
  background-color: transparent;
  border: 1px solid $colorBlack;
  margin: 0 10px;
}

.button {
  cursor: pointer;
  padding: 0 16px;
  height: 36px;
  font-size: $fontSizeButton;
  font-weight: 400;
  border: none;
  color: $colorWhite;
  border-radius: 4px;
  transition: all 0.15s;

  @media (min-width: $deskMin) and (max-width: $deskMax) {
    padding: 0 8px;
    font-size: $fontSizeButton_tab;
    height: 32px;
  }

  &__inSlider {
    @media (min-width: $tabMin) and (max-width: $tabMax) {
      font-size: $fontSizeText_tab;
      padding: 0 14px;
      height: 30px;
    }

    @media (min-width: $mobMin) and (max-width: $mobMax) {
      font-size: $fontSizeText_mobile;
      padding: 0 12px;
      height: 25px;
    }

    @media (max-width: $mobMin) {
      font-size: $fontSizeText_mobile;
      padding: 0 10px;
      height: 25px;
    }
  }
}

.examples {
  background-color: $colorCyan;

  &:hover {
    background-color: $colorCyanLight;
  }
}

.outline {
  color: $colorCyan;
  border: 1px solid $colorCyan;
  background: $colorWhite;

  &:hover {
    background-color: $colorSkyLight;
  }
}

.special {
  padding: 0 12px;
  height: 26px;
  line-height: 26px;
  font-size: 15px;
}

.order {
  border-color: $colorSpanishGray;
  color: $colorSpanishGray;

  &:hover {
    background-color: $colorAntiFlashWhite;
  }
}
