.title {
  text-align: center;
  color: #fff;
  margin: 0;
}

@mixin container_select() {
  display: flex;
  align-items: flex-start;
}
.select {
  &_heading {
    margin: 10px;
  }
  &_container_box {
    background-color: rgb(31, 31, 48);
    position: relative;
    display: block;
    // min-height: 400px;
    min-width: 300px;
    max-width: 25%;
  }
  &_btn {
    margin: 10px 100px;
  }
}

.select_box {
  @include container_select();
  justify-content: space-between;
  min-width: 290px;
  max-width: 100%;
  // border: 1px solid rgb(223, 219, 219);

  // position: fixed;
}
.select_box_filter {
  @include container_select();
  flex-direction: column;
}
.select_box_sort {
  display: flex;
  align-items: center;
  // position: absolute;
  // left: 200%;
}
