@import '../../../utils/styles/var';

.container {
  display: inline-block;
  background-color: #f4faf6;
  padding: 5px 15px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  font-size: 14px;
}

.availabilityRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.inStock {
  color: $colorSuperPrice;
}

.noProduct {
  color: #797878;
}

.ends {
  color: #ff5c00;
}

.availabilityIcons {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
