@import '../../../theme/styles/var';

.container {
  display: inline-block;
  background-color: $colorGhostWhite;
  padding: 5px 15px;
  margin-top: 10px;
  margin-bottom: 40px;
  border-radius: 5px;
  font-size: 14px;
}

.availabilityRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.inStock {
  color: $colorLimeGreen;
}

.noProduct {
  color: $colorDimGray;
}

.ends {
  color: $colorDarkOrange;
}

.availabilityIcons {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
