.row {
  display: flex;
  align-items: flex-start;
}
.clear {
  margin-left: 15px;
}
.clear:hover {
  color: $colorButton;
  cursor: pointer;
}
.productCard__wrapper {
  position: relative;
}
.inline {
  display: flex;
  flex-flow: row wrap;
}
