*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Montserrat', 'Century Gothic', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
body.lock {
  overflow: hidden;
}
