*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Montserrat', 'Century Gothic', sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
body.lock {
  overflow: hidden;
  padding-right: 17px;
}
.slick-next,
.slick-prev {
  z-index: 50;
  border-radius: 20px;
  border: 1px solid #e1e1e1;
  background: #fff;
  padding: 10px;
  height: 40px;
  width: 40px;
  top: 30%;
  color: #131313;
  opacity: 0.4;
  &:hover {
    background: #fff;
    opacity: 0.8;
  }
  &:focus {
    background: #fff;
    opacity: 0.8;
  }
  &::before {
    color: #131313;
    font-size: 18px;
    opacity: 0.7;
    margin: auto;
    &:hover {
      opacity: 0.8;
    }
  }
}
.slick-next {
  right: 0;
}
.slick-prev {
  left: 0;
}
