$colorButton: #37b7fa;
$colorButnHover: #49c9ff;
$colorNew: #3da5ca;
$colorSecondary: #fafa64;
$colorTextFooter: #b1b1b1;
$colorForMan: #23f4b5;
$colorForWoman: #f93b9b;

$fontSize: 14px;
$fontSizeFooter: 12px;
$fontSizeTitle: 32px;
$fontSizeButton: 18px;

$mobMin: 320px;
$mobMax: 480px;
$tabMin: 481px;
$tabMax: 992px;
$deskMin: 993px;
$deskMax: 1200px;
$deskXMin: 1201px;
$deskXMax: 1450px;
