$colorButton: #37b7fa;
$colorButtonHover: #49c9ff;
$colorNew: #3da5ca;
$colorSecondary: #fafa64;
$colorTextFooter: #b1b1b1;

$fontSize: 14px;
$fontSizeFooter: 12px;
$fontSizeTitle: 32px;
$fontSizeButton: 18px;

$xsMax: 575px;
$smMin: 576px;
$smMax: 767px;
$mdMin: 768px;
$mdMax: 991px;
$lgMin: 992px;
$lgMax: 1199px;
$xlMin: 1200px;
$xlMax: 1499px;
$xxlMin: 1500px;
