.container {
  height: 450px;
  color: #fff;
}
.itemContainer {
  height: 450px;
}
.slider {
  list-style: none;
  & button {
    top: calc(50% - 20px);
  }
}
.sliderItem {
  background-color: transparent;
}
.sliderImage {
  margin: 0 auto;
  height: 550px;
}
.dots {
  position: absolute;
  bottom: 20px;
}
