$colorWhite: rgb(255, 255, 255);
$colorGhostWhite: rgb(250, 250, 255);
$colorAntiFlashWhite: rgb(242, 243, 244);
$colorLightGray: rgb(216, 216, 216);
$colorSilverChalice: rgb(172, 172, 172);
$colorSpanishGray: rgb(152, 152, 152);
$colorDimGray: rgb(105, 105, 105);
$colorDarkLight: rgb(53, 53, 53);
$colorBlack: rgb(0, 0, 0);

$colorUnmellowYellow: rgb(255, 255, 102);

$colorCyan: rgb(55, 183, 250);
$colorCyanLight: rgb(81, 198, 249);
$colorSkyLight: rgb(235, 248, 255);

$colorRoyalBlue: rgb(65, 105, 225);

$colorDarkViolet: rgb(148, 0, 211);

$colorTomato: rgb(255, 64, 64);
$colorRedPigment: rgb(237, 28, 36);

$colorDarkOrange: rgb(255, 140, 0);

$colorLimeGreen: rgb(50, 175, 50);

$colorBlackBackground: rgba(0, 0, 0, 0.3);

$fontSize: 14px;
$fontSizeFooter: 12px;
$fontSizeTitle: 32px;
$fontSizeButton: 18px;

$mobMin: 320px;
$mobMax: 480px;
$tabMin: 481px;
$tabMax: 992px;
$deskMin: 993px;
$deskMax: 1200px;
$deskXMin: 1201px;
$deskXMax: 1450px;
