@import '../../theme/styles/var';
@import '../../theme/styles/mixins';

.container {
  position: relative;
  width: calc(100% / 3);
  padding: 20px;
  border: 1px solid $colorAntiFlashWhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $deskMin) and (max-width: $deskMax) {
    padding: 15px;
  }

  @media (min-width: $tabMin) and (max-width: $tabMax) {
    justify-content: flex-start;
    padding: 10px;
  }

  @media (min-width: $mobMin) and (max-width: $mobMax) {
    width: calc(100% / 2);
    padding: 10px;
  }

  &:hover {
    @extend %custom-shadow;
    border: 1px solid $colorLightGray;
  }

  &:hover .lastImage {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    visibility: visible;
    opacity: 1;
  }

  &:hover .btnBlock {
    box-shadow: 0px 7px 18px -8px $colorBlackBackground;
    border: 1px solid $colorLightGray;
    border-top: none;
    display: block;
  }
}

// To slider
.container__slider {
  position: relative;
  margin: 0;
  width: calc(100% - 4px);

  &:hover .btnBlock {
    box-shadow: none;
    border: none;
  }

  & .labelBlock {
    padding: 5px 0 0 5px;

    @media (min-width: $tabMin) and (max-width: $tabMax) {
      font-size: 12px;
    }

    @media (min-width: $mobMin) and (max-width: $mobMax) {
      font-size: 10px;
      font-weight: 400;
    }

    @media (max-width: $mobMin) {
      font-size: 10px;
      font-weight: 400;
    }
  }

  & .btnBlock {
    position: relative;
    border-top: none;
    display: block;
    width: 100%;
    padding: 10px 0 0;
    top: 0;
    @media (min-width: $mobMin) and (max-width: $tabMax) {
      padding: 0;
    }
  }
}

// Images

.link {
  display: flex;
  justify-content: center;
}

.imgBlock {
  position: relative;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
}

.firstImage {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s, visibility 0.3s;
  will-change: transform;
}

.lastImage {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  will-change: transform;
}

.image {
  margin: 5px;
  width: calc(100% - 10px);
}

// Label

.labelBlock {
  text-align: left;
  padding: 10px 0 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  color: $colorWhite;
  line-height: 24px;
  font-size: 12px;
  font-weight: 700;
  @media (min-width: $deskMin) and (max-width: $deskMax) {
    font-size: 11px;
  }

  @media (min-width: $tabMin) and (max-width: $tabMax) {
    font-size: 10px;
    font-weight: 500;
  }

  @media (min-width: $mobMin) and (max-width: $mobMax) {
    display: none;
  }
}

.label {
  display: inline-block;
  margin: 0 0 4px 0;
  padding: 0 15px;
  border-radius: 24px;
  @media (min-width: $deskMin) and (max-width: $deskMax) {
    padding: 0 12px;
  }

  @media (min-width: $tabMin) and (max-width: $tabMax) {
    padding: 0 8px;
    line-height: 2;
  }
}

.labelNew {
  background-color: $colorRoyalBlue;
}

.labelSuperPrice {
  background-color: $colorLimeGreen;
}

.labelHit {
  background-color: $colorDarkViolet;
}

.labelSales {
  background-color: $colorRedPigment;
}

// Price

.priceBlock {
  align-self: flex-start;
  margin-bottom: 10px;
  white-space: nowrap;
  @media (min-width: $mobMin) and (max-width: $tabMax) {
    align-self: center;
  }
}

.nameLink {
  overflow: hidden;
  margin: auto;
  height: 50px;
  margin: 0;
}

.name {
  position: relative;
  color: $colorDarkLight;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $deskMin) and (max-width: $deskMax) {
    font-size: $fontSizeButton_mobile;
  }

  @media (min-width: $tabMin) and (max-width: $tabMax) {
    font-size: $fontSizeText_tab;
    -webkit-line-clamp: 3;
  }

  @media (min-width: $mobMin) and (max-width: $mobMax) {
    font-size: $fontSizeText_mobile;
    -webkit-line-clamp: 3;
  }
}

.btnBlock {
  width: calc(100% + 2px);
  position: absolute;
  padding: 0 20px 20px;
  border-radius: 0 0 5px 5px;
  border-top: 0;
  background: $colorWhite;
  display: none;
  bottom: -50px;
  z-index: 100;

  @media (min-width: $deskMin) and (max-width: $deskMax) {
    padding: 0 15px 15px;
    bottom: -46px;
  }

  @media (min-width: $mobMin) and (max-width: $tabMax) {
    display: none;
  }
}

.btnBlock__inSlider {
  margin-top: 5px;
  bottom: 0;
}

.btnFlex {
  display: flex;
  justify-content: space-between;
}

.favIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
