
.img {
  height: 160px;
  width: 160px;
}
.name {
  font-size: 12px;
  margin-top: 10px;
}
body {
  background-color: #ffffff;
}

.slides {
  position: relative;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 35%;
  z-index: 1;

}
.slick-next {
  right: 10px;
}
// .slick-prev {
//   left: 5px;
// }
.slick-prev:before {
  font-size: 35px;
  color: #696969;


}
.slick-next:before {
  font-size: 35px;
  color: 	#696969;


}
