.add-to-cart {
  background-color: aqua;
  font-size: 1rem;
  color: azure;
  padding: 4px 8px;
  border-radius: 3px;
  border: none;
  margin-top: 10px;
}
.img {
  max-height: 190px;
  width: 150px
}
body {
  background-color: #ffffff;
}

.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 35%;
  z-index: 1
}

// .slides .slick-prev {
//   left: 0;
// }

// .slides .slick-next {
//   right: 0;
// }

.slick-next:before {
  font-size: 35px;
  color:black;
  
}
.slick-prev:before {
  font-size: 35px;
  color:black;

}
