@import '../../theme/styles/var';

.container {
  @media (min-width: $mobMin) and (max-width: $tabMax) {
    display: none;
  }
}

.scrollTop {
  padding: 0;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: none;
  transition: 0.6s;
  border: 1px solid $colorSpanishGray;
  border-radius: 5px;
  z-index: 50;
  background-color: $colorWhite;
  cursor: pointer;
}

.scrollTop:hover {
  background: $colorGhostWhite;
  border-color: $colorCyan;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.iconBox {
  height: 40px;
}

.scrollTop:hover::after {
  width: 99%;
  height: 99%;
}

.scrollTop:hover svg {
  fill: $colorCyan;
}

svg {
  transition: fill 0.6s;
}
