@import '../../theme/styles/var';

.priceBlock {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.priceSales {
  display: flex;
  align-items: flex-end;
}

.currentPrice {
  margin-right: 20px;
  color: $colorRedPigment;
  font-weight: 700;
  font-size: 18px;
}

.previousPrice {
  font-size: 14px;
  text-decoration: line-through;
  color: $colorDimGray;
}

.regularPrice {
  color: $colorRoyalBlue;
  font-weight: 700;
  font-size: 18px;
}
