$montserrat: 'Montserrat', sans-serif;

.cartCounter {
  color: #fafa64;
  font-family: $montserrat;
  font-weight: 700;
  font-size: 14px;
  line-height: 3.3;
  text-decoration: none;
}

.cartCounter:hover {
  text-decoration: none;
}