.buttonCont {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}
.widthCont {
  position: relative;
  display: flex;
  align-items: center;
  width: 75%;
}
.redTitle {
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 100%;
  color: red;
}
