.buttonCont {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}
.widthCont {
  display: flex;
  align-items: center;
  width: 75%;
}
.redTitle {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  margin-left: 10px;
  color: red;
}
