@import '../../theme/styles/var';

.forWhoLinks {
  @media (max-width: $deskMax) {
    padding: 120px 30px 50px 30px;
  }
}

.forMen,
.forWoman {
  padding: 90px 90px 90px 330px;
  border-radius: 20px;
  color: white;

  @media (min-width: $deskXMin) and (max-width: $deskXMax) {
    font-size: 45px;
    padding: 70px 50px 70px 270px;
  }
  @media (min-width: $deskMin) and (max-width: $deskMax) {
    padding: 70px 0 70px 490px;
    font-size: 40px;
    font-weight: bold;
  }
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    padding: 60px 30px 60px 390px;
    font-size: 40px;
    font-weight: bold;
  }
  @media (min-width: $mobMin) and (max-width: $mobMax) {
    padding: 65px 20px 65px 290px;
    font-size: 30px;
    font-weight: bold;
  }
  @media (max-width: $mobMin) {
    padding: 60px 30px 60px 160px;
    font-size: 20px;
    font-weight: bold;
  }
}

.forMen {
  background-color: #23f4b5;
  box-shadow: 0 15px 35px -10px #23f4b5;
}

.forWoman {
  background-color: #f93b9b;
  box-shadow: 0 15px 35px -10px #f93b9b;
}

.img {
  position: absolute;
  transform: translate(-220px, -236px);
  @media (min-width: $deskXMin) and (max-width: $deskXMax) {
    width: 160px;
    transform: translate(-210px, -202px);
  }
  @media (min-width: $deskMin) and (max-width: $deskMax) {
    width: 150px;
    transform: translate(-220px, -185px);
  }
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    width: 140px;
    transform: translate(-240px, -176px);
  }
  @media (min-width: $mobMin) and (max-width: $mobMax) {
    width: 140px;
    transform: translate(-180px, -182px);
  }
  @media (max-width: $mobMin) {
    width: 110px;
    transform: translate(-150px, -139px);
  }
}
