@import '../../theme/styles/var';

.main {
  padding-top: 0;
}

.brandBar {
  margin-bottom: 30px;
}

.brandBarTitle {
  text-align: center;
  font-size: $fontSizeTitleH3;
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    font-size: $fontSizeTitleH3_tab;
  }
  @media (min-width: $mobMin) and (max-width: $mobMax) {
    font-size: $fontSizeTitleH3_mobile;
  }
}

// product section styles===========================

.descriptionWrapper {
  color: $colorWhite;
  background-color: $colorCyan;
  border-radius: 15px;
  padding: 55px 100px 55px 130px;
  margin: 50px 0;
  box-shadow: 0 40px 25px -25px $colorCyan;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (min-width: $deskXMin) and (max-width: $deskXMax) {
    margin: 40px 0;
    padding: 45px 80px 45px 80px;
  }
  @media (min-width: $deskMin) and (max-width: $deskMax) {
    margin: 35px 0;
    padding: 30px 60px 30px 60px;
  }
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    margin: 30px 0;
    padding: 20px 50px 20px 60px;
  }
  @media (min-width: $mobMin) and (max-width: $mobMax) {
    margin: 25px 0;
    padding: 5px 40px 5px 20px;
  }
}

.descriptionText {
  font-size: 60px;

  @media (min-width: $deskXMin) and (max-width: $deskXMax) {
    font-size: 50px;
  }
  @media (min-width: $deskMin) and (max-width: $deskMax) {
    font-size: 30px;
  }
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    font-size: 21px;
  }
  @media (min-width: $mobMin) and (max-width: $mobMax) {
    font-size: 16px;
  }
}

.descriptionImg {
  position: absolute;
  right: 100px;
  // transform: translate(650px);
  @media (min-width: $deskXMin) and (max-width: $deskXMax) {
    width: 375px;
    // transform: translate(540px);
  }
  @media (min-width: $deskMin) and (max-width: $deskMax) {
    width: 230px;
    right: 60px;
  }
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    width: 160px;
    right: 40px;
  }
  @media (min-width: $mobMin) and (max-width: $mobMax) {
    width: 100px;
    right: 20px;
  }
}

// bestsellers section styles ===========================

.bestsellersSection {
  margin-top: 40px;
}

.bestsellersItems {
  text-align: center;
  background-color: inherit;
  height: min-content;
  color: $colorBlack;
}

.forWho {
  margin-top: 200px;
  justify-content: space-between;
  display: flex;
  font-size: 55px;
  font-weight: bold;
  @media (max-width: $deskXMax) {
    display: none;
  }
}

.genderSlider {
  display: none;
  padding-top: 150px;
  @media (max-width: $deskXMax) {
    display: flex;
    background-color: inherit;
  }
}

.newProducts {
  margin-top: 150px;
  text-align: center;
  height: 250px;
  color: $colorBlack;
}

.newProductsTitle {
  font-size: 20px;
}

.aboutSection {
  margin-top: 30px;
  color: $colorBlack;
  text-align: center;
  padding: 0 100px;

  @media (min-width: $tabMin) and (max-width: $tabMax) {
    padding: 0 70px;
  }
  @media (min-width: $mobMin) and (max-width: $mobMax) {
    padding: 0 30px;
  }
}

.aboutTitle {
  font-size: 20px;
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    padding: 0 70px;
  }
  @media (min-width: $mobMin) and (max-width: $mobMax) {
    padding: 0 30px;
  }
}

.aboutText {
  color: $colorDimGray;
  margin-top: 10px;
  font-size: $fontSizeText;
  line-height: 1.5;
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    font-size: $fontSizeText_tab;
  }
  @media (min-width: $mobMin) and (max-width: $mobMax) {
    font-size: $fontSizeText_mobile;
  }
}

.footer {
  background-color: $colorDimGray;
  margin-top: 100px;
  height: 250px;
  margin-bottom: 400px;
}
