@import '../../../theme/styles/mixins';
@import '../../../theme/styles/var';

.slider {
  background-color: $colorWhite;
  padding: 10px 10px 30px;
  @extend %custom-shadow;
  @extend %custom-border;
}

.bestsellerTitle {
  text-align: center;
  font-size: $fontSizeTitleH3;
}
