@import '../../../../theme/styles/var';

.container {
  padding: 0 10px 30px;
}

.characteristicItem {
  display: flex;
  padding: 10px;
  line-height: 1.5;
  &:nth-child(odd) {
    background-color: $colorAntiFlashWhite;
  }
}

.characteristicName {
  color: $colorDimGray;
  width: 30%;
}

.characteristicValue {
  width: 70%;
}

.characteristicValueItem {
  margin-bottom: 5px;
}
