@import '../../theme/styles/mixins';
@import '../../theme/styles/var';

.container {
  @extend %width-page;
  @extend %custom-shadow;
  @extend %custom-border;
  padding: 20px;
  background-color: $colorWhite;
  position: relative;
  line-height: 27px;


  @media (min-width: $tabMin) and (max-width: $tabMax) {
    width: 100%;
  }

  @media (min-width: $mobMin) and (max-width: $mobMax) {
<<<<<<< HEAD
    min-width: 100%;
  }

  @media (min-width: $tabMin) and (max-width: $tabMax) {
    min-width: 100%;
=======
    width: 100%;
  }

  @media (max-width: $mobMin) {
    width: 100%;
>>>>>>> fb1775e75e88e94abea52439fe91542a2a5f225d
  }

}
