.sort {
  padding-top: 0.4em;
  height: 2em;
  text-align: right;
  padding-right: 1em;
}
.sortField {
  margin-left: 10px;
  color: #3d7ee5;
  border-color: transparent;
  cursor: pointer;
  font-size: medium;
}
