@import '../../utils/styles/mixins';

.container {
  height: 300px;
  width: 100%;
  padding: 20px;
  margin-right: 10px;
  @extend %custom-shadow;
  @extend %custom-border;
  height: 100%;
  background-color: #fff;
}
