@import '../../../../theme/styles/var';

.container {
  padding: 30px;
}

.title {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 30px 0;
}

.redTitle {
  text-align: center;
  color: $colorRedPigment;
  position: relative;
  bottom: 20px;
}
