@import '../../utils/styles/var';

.container {
  margin-top: 20px;
  width: 100%;
}
.title {
  margin: 0 0 10px;
  font-size: 16px;
}

:global {
  .slick-next,
  .slick-prev {
    color: #131313;
    &::before {
      color: #131313;
    }
  }
}
