.container {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 10%;

  &_filter {
    min-width: 300px;
    max-width: 25%;
    margin-top: 3%;
    overflow: scroll;

    &_fixed {
      border: 1px solid rgb(223, 219, 219);
    }
  }

  &_sort {
    display: flex;
    justify-content: flex-end;
    min-width: 300px;
    max-width: 100%;
    max-height: 20px;
  }
}
