@import '../../../theme/styles/var';

.container {
  position: relative;

  &:hover .userBar {
    visibility: visible;
    opacity: 1;
  }
  @media (min-width: $mobMin) and (max-width: $tabMax) {
    display: none;
  }
}

.icon {
  cursor: pointer;
}

.circle {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.initials {
  font-weight: 500;
  font-size: 14px;
  color: white;
}
