.container {
  position: relative;

  &:hover .userBar {
    visibility: visible;
    opacity: 1;
  }
}

.icon {
  cursor: pointer;
}
.circle {
  border: 2px solid #000;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}
.initials {
  font-weight: 600;
  font-size: 13px;
}
