.home {

  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}
.link {
  color:#000;
}
.link:hover {
  color: red;
}
