@import '../../theme/styles/var';
@import '../../theme/styles/mixins';

.bgContainer {
  background-color: #051219;
  @extend %custom-shadow;
  position: relative;
  @media (min-width: $mobMin) and (max-width: $tabMax) {
    position: sticky;
    top: 0;
    z-index: 100;
  }
}

.burger {
  display: none;
  @media (min-width: $mobMin) and (max-width: $tabMax) {
    position: relative;
    display: block;
    width: 26px;
    z-index: 3;
    margin-right: 30px;
  }
  @media (min-width: $mobMin) and (max-width: $mobMax) {
    width: 23px;
  }
  &:before,
  &:after {
    @media (min-width: $mobMin) and (max-width: $tabMax) {
      content: '';
      background-color: $colorWhite;
      position: absolute;
      width: 26px;
      height: 3px;
      left: 0;
      transition: all 0.9s ease 0s;
    }
    @media (min-width: $mobMin) and (max-width: $mobMax) {
      width: 23px;
      height: 2px;
    }
  }
  &:before {
    @media (min-width: $mobMin) and (max-width: $tabMax) {
      top: 9px;
    }
  }
  &:after {
    @media (min-width: $mobMin) and (max-width: $tabMax) {
      bottom: 9px;
    }
  }
}

.burgerLine {
  @media (min-width: $mobMin) and (max-width: $tabMax) {
    position: absolute;
    background-color: $colorWhite;
    left: 0;
    width: 26px;
    height: 3px;
    top: -1px;
    transition: all 0.3s ease 0s;
  }
  @media (min-width: $mobMin) and (max-width: $mobMax) {
    width: 23px;
    height: 2px;
  }
}

.logo {
  & img {
    @media (min-width: $tabMin) and (max-width: $tabMax) {
      width: 165px;
      height: 50px;
    }

    @media (min-width: $mobMin) and (max-width: $mobMax) {
      width: 135px;
      height: 40px;
    }
  }
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    height: 60px;
  }

  @media (min-width: $mobMin) and (max-width: $mobMax) {
    height: 50px;
  }
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media (min-width: $mobMin) and (max-width: $tabMax) {
    color: $colorBlack;
    width: auto;
  }
}

.adaptiveFade {
  display: flex;
  align-items: center;
  @media (min-width: $mobMin) and (max-width: $tabMax) {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow-y: scroll;
  }
}

.adaptiveFadeNone {
  visibility: hidden;
}

.menuList {
  margin-left: 20px;
  display: flex;
  align-items: center;
  list-style: none;
  @media (min-width: $mobMin) and (max-width: $tabMax) {
    transition: all 0.9s ease 0s;
    z-index: 5;
    background-color: $colorGhostWhite;
    width: 80vw;
    display: block;
    position: absolute;
    top: 0;
  }
}

.titleStore {
  display: none;

  @media (min-width: $mobMin) and (max-width: $tabMax) {
    position: relative;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 10px 0;
    border-bottom: 1px solid $colorSilverChalice;
  }

  @media (min-width: $tabMin) and (max-width: $tabMax) {
    font-size: $fontSizeTitleH3_tab;
  }
  @media (min-width: $mobMin) and (max-width: $mobMax) {
    font-size: $fontSizeTitleH3_mobile;
  }
}

.arrow {
  @media (min-width: $mobMin) and (max-width: $tabMax) {
    position: absolute;
    left: 10px;
    top: 20px;
    width: 20px;
    height: 20px;
    &::before {
      content: '';
      background-color: $colorDarkLight;
      position: absolute;
      width: 26px;
      height: 3px;
      transform: rotate(45deg);
      top: 0;
      left: 0;
    }
    &::after {
      content: '';
      background-color: $colorDarkLight;
      position: absolute;
      width: 26px;
      height: 3px;
      transform: rotate(-45deg);
      top: 0;
      left: 0;
    }
  }
}

.categoriesBlock {
  display: flex;

  @media (min-width: $mobMin) and (max-width: $tabMax) {
    display: block;
    padding: 10px 0 10px 40px;
    border-bottom: 1px solid $colorLightGray;
  }
}

.adaptiveBlock {
  display: none;
  @media (min-width: $mobMin) and (max-width: $tabMax) {
    display: block;
    padding: 10px 0 10px 40px;
    border-bottom: 1px solid $colorLightGray;
  }
}

@media (min-width: $mobMin) and (max-width: $tabMax) {
  .social {
    margin-top: 10px;
  }

  .socTitle {
    font-size: $fontSizeText_tab;
  }

  .socialLink {
    margin: 0 20px 10px 0;
  }

  .socIcon:hover svg path {
    fill: $colorCyanLight;
  }
  .menuItem {
    padding: 10px 0;
    position: relative;
  }
  .icons {
    position: absolute;
    left: -25px;
    top: 10px;
  }
}

.menuLink {
  color: $colorWhite;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 0;
  margin-right: 20px;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
    color: $colorCyan;
  }

  @media (min-width: $mobMin) and (max-width: $tabMax) {
    color: $colorBlack;
    width: auto;
  }
}

.menuLinkActive {
  color: $colorCyan;
  border-bottom: 2px solid $colorCyan;
  @media (min-width: $mobMin) and (max-width: $tabMax) {
    border: none;
  }
}

.iconList {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.iconListItem {
  position: relative;
  margin: 0 10px;
  @media (min-width: $mobMin) and (max-width: $tabMax) {
    margin: 0 5px;
  }
  & svg {
    @media (min-width: $mobMin) and (max-width: $mobMax) {
      height: 25px;
      width: 25px;
    }
  }
}

.favorites {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  padding: 2px;
  top: 9px;
  left: 7px;
  border-radius: 15px;
  background: $colorCyan;
  color: $colorWhite;
  font-size: 10px;
  text-align: center;
}
