@import '../../theme/styles/var';
@import '../../theme/styles/mixins';

.bgContainer {
  background-color: #051219;
  @extend %custom-shadow;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menuList {
  margin-left: 20px;
  display: flex;
  align-items: center;
  list-style: none;
}

.menuLink {
  color: $colorWhite;;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 0;
  margin-right: 20px;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
    color: $colorCyan;
  }
}

.menuLinkActive {
  color: $colorCyan;
  border-bottom: 2px solid $colorCyan;
}

.iconList {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.iconListItem {
  position: relative;
  margin: 0 10px;
}
.heart__user__bag {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.favorites {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  padding: 2px;
  top: 15px;
  left: 5px;
  border-radius: 15px;
  background: $colorCyan;
  color: $colorWhite;
  font-size: 10px;
  text-align: center;
}

.input__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hidden {
  display: none;
}
.input__parent {
  position: relative;
}
.search__input {

  width: 270px;
  height: 35px;
  border: none;
  border-bottom: 1px solid #696969;
  display: none;
  @media (min-width: 1200px) and (max-width: 1340px) {
    width: 190px;

  }

}
.showInput {
  display: block;
  @media (max-width: 1205px) {
    display: none;
  }
}
.searchList {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 500;
}
.searchList__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 5px 15px;

  &:hover {
    cursor: pointer;
  }
}
.searchIcon__container {
  &:hover {
    cursor: pointer;
  }
}

.close {
  position: absolute;
  top: 5px;
  right: 6px;
  &:hover {
    cursor: pointer;
  }
  @media (max-width: 1205px) {
    display: none;
  }
}
.searchLink {
  color: #000;
}
