@import '../../../utils/styles/var';

.li {
  display: list-item;
  list-style-type: '—';
  font-size: 0.8rem;
  padding-inline-start: 1ch;
  margin-bottom: 10px;
}

.ul {
  margin-left: 20px;
  margin-top: 10px;
}
.hide__details {
  font-size: 50px;
  margin-left: auto;
  background-color: $colorTextFooter;
  border: none;
  outline: none;
}
.details__header {
  display: flex;
  align-items: center;
}
