@import '../../../utils/styles/var';
.about {
    font-size: 1rem;
    font-weight: 600;
    color: grey;
    border: none;
    background-color: #ffffff;
    padding: 0.5rem;
  }
  .about:hover {
    color: $colorButton;
    cursor: pointer;
  }
  .about:focus {
    outline: none;
    color:#000000;
  }
  .active {
    color: #000000;
    border-top: 1px solid #000000;
  }
  .delivery {
    color: #000000;
    text-decoration: none;
    margin-left: 5px;
  }
  .delivery:hover {
    color: $colorButton;
    text-decoration: none;
  }
