@import '../../../utils/styles/var';
.li {
    display: list-item;
    list-style-type: "—";
    padding-inline-start: 1ch;
    margin-bottom: 10px;
}
.ul {
    margin-left: 20px;
    margin-top: 20px;
}
.hide__details {
    font-size: 50px;
    margin-left: auto;
    background-color: $colorTextFooter;
    border: none;
    outline: none;
  }
  .details__header {
    max-width: 50%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
