@import '../../../../theme/styles/var';

.info {
  display: flex;
  justify-content: space-between;
  font-size: $fontSizeText;
  text-align: center;
  & div {
    border-right: 1px solid $colorSpanishGray;
    border-top: 1px solid $colorSpanishGray;
    border-bottom: 1px solid $colorSpanishGray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0;
    &:first-child {
      border-left: 1px solid $colorSpanishGray;
    }
  }
}

.name {
  width: 40%;
}
.colorContainer {
  width: 60%;
}
.color {
  height: 50px;
}

.button {
  margin: 10px 40px 0 0;
}
