@import '../../../../utils/styles/var';

.container {
  position: sticky;
  top: 10%;
  z-index: 2;

  @media (min-width: $tabMin) and (max-width: $tabMax) {
    position: absolute;
    top: 0%;
    left: -130%;
    transition: left 1.5s linear;
    z-index: 99;
  }

  @media (min-width: $mobMin) and (max-width: $mobMax) {
    position: absolute;
    top: 0%;
    left: -130%;
    transition: left 1.5s linear;
    z-index: 99;
  }

  &_filter {
    &_fixed {
      position: relative;
      background-color: white;
      z-index: 1;
    }
  }

  &_sort {
    position: sticky;
    top: 2%;
    min-width: 280px;
    max-width: 280px;
    max-height: 50px;
    background-color: rgb(255, 255, 255);

    @media (min-width: $tabMin) and (max-width: $tabMax) {
      position: absolute;
      top: -20%;
      left: 0;
      min-width: 100%;
      max-width: 100%;
      transition: top 0.5s linear;
      z-index: 99;
    }
    @media (min-width: $mobMin) and (max-width: $mobMax) {
      position: absolute;
      min-width: 100%;
      max-width: 100%;
      left: 0;
      top: -20%;
      transition: top 0.5s linear;
    }
  }
}

.container_dark {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: fixed;
  background-color: rgba(0, 0, 0, 0.178);
  z-index: 1;
  &_none {
    display: none;
  }
}

.container_sort.active {
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    position: fixed;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    top: 0%;
    left: 0%;
    min-width: 100%;
    transition: top 0.5s linear;
    z-index: 99;
  }
  @media (min-width: $mobMin) and (max-width: $mobMax) {
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    left: 0%;
    top: 0%;
    transition: top 0.5s linear;
    z-index: 99;
  }
}

.container.active {
  position: fixed;
  z-index: 99;
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    left: -1%;
    top: 0%;
    transition: left 1.5s linear;
  }
  @media (min-width: $mobMin) and (max-width: $mobMax) {
    left: 0%;
    top: 0%;
    transition: left 1.5s linear;
  }
}

.btn_box {
  display: inline-flex;
}

.container_btn {
  display: none;
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    display: block;
    max-width: 60px;
    border: 1px solid black;
    cursor: pointer;
  }

  @media (min-width: $mobMin) and (max-width: $mobMax) {
    max-width: 60px;
    border: 1px solid black;
    cursor: pointer;
  }
}

.container_btn.active {
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    background-color: transparent;
    max-width: 60px;
    border: 1px solid black;
  }

  @media (min-width: $mobMin) and (max-width: $mobMax) {
    background-color: transparent;
    max-width: 60px;
    border: 1px solid black;
  }
}
