@import '../../../../theme/styles/var';

.container {
  z-index: 99;

  @media (min-width: $tabMin) and (max-width: $tabMax) {
    position: fixed;
    top: 0%;
    left: -130%;
    transition: left 1.5s linear;
    z-index: 999;
  }

  @media (min-width: $mobMin) and (max-width: $mobMax) {
    position: fixed;
    top: 0%;
    left: -130%;
    transition: left 1.5s linear;
    z-index: 999;
  }

  &_filter {
    &_fixed {
      position: relative;
      background-color: white;
      z-index: 1;
      @media (min-width: $tabMin) and (max-width: $tabMax) {
        display: flex;
        justify-content: space-evenly;
      }
      @media (min-width: $mobMin) and (max-width: $mobMax) {
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}

.container_dark {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: fixed;
  background-color: rgba(0, 0, 0, 0.178);
  z-index: 99;
  &_none {
    display: none;
  }
}

.container.active {
  position: fixed;
  z-index: 99;
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    left: -1%;
    top: 0%;
    transition: left 1.5s linear;
    z-index: 999;
  }
  @media (min-width: $mobMin) and (max-width: $mobMax) {
    left: 0%;
    top: 0%;
    transition: left 1.5s linear;
    z-index: 999;
  }
}

.btn_box {
  display: inline-flex;
  align-items: center;
}

.container_btn {
  display: none;
  margin: 5px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 2px;
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    display: block;
    max-width: 60px;
  }

  @media (min-width: $mobMin) and (max-width: $mobMax) {
    display: block;
    max-width: 60px;
  }
}

.btnText {
  display: none;
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    display: block;
    font-size: $fontSizeText_tab;
  }

  @media (min-width: $mobMin) and (max-width: $mobMax) {
    display: block;
    font-size: $fontSizeText_mobile;
  }
}

.container_btn.active {
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    background-color: transparent;
    max-width: 60px;
    border: 1px solid black;
  }

  @media (min-width: $mobMin) and (max-width: $mobMax) {
    background-color: transparent;
    max-width: 60px;
    border: 1px solid black;
  }
}
