@import '../../../theme/styles/var';

.title {
  margin-top: 0;
  text-align: center;
  font-size: $fontSizeTitleH2;
  margin-bottom: 20px;
}

.textContent {
  font-size: $fontSizeText;
  line-height: 1.5;
  margin-bottom: 20px;
}

.buttonCont {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.widthCont {
  position: relative;
  width: 75%;
}

.redTitle {
  color: $colorRedPigment;
  position: absolute;
  top: -23px;
}

.back {
  cursor: pointer;
  position: absolute;
  top: 25%;
  left: -120px;
  &:hover {
    color: $colorCyan;
  }
}
