@import '../../../../utils/styles/var';

.container {
  padding-top: 20px;
  position: relative;
  border: 1px solid $colorTextSilver;
  border-radius: 5px;
}

.filter {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
}

.select {
  padding: 3px 5px;
}
