@import '../../../theme/styles/var';
@import '../../../theme/styles/mixins';

.container {
  height: 450px;
  color: #fff;
  margin-bottom: 30px;

  @media (min-width: $deskXMin) and (max-width: $deskXMax) {
    height: 400px;
  }

  @media (min-width: $deskMin) and (max-width: $deskMax) {
    height: 350px;
  }

  @media (min-width: $tabMin) and (max-width: $tabMax) {
    height: 300px;
  }

  @media (min-width: $mobMin) and (max-width: $mobMax) {
    height: 150px;
  }
}

.itemContainer {
  height: 450px;

  @media (min-width: $deskXMin) and (max-width: $deskXMax) {
    height: 400px;
  }

  @media (min-width: $deskMin) and (max-width: $deskMax) {
    height: 350px;
  }

  @media (min-width: $tabMin) and (max-width: $tabMax) {
    height: 300px;
  }

  @media (min-width: $mobMin) and (max-width: $mobMax) {
    height: 150px;
  }
}

.slider {
  list-style: none;
  & button {
    top: calc(50% - 20px);
  }
  :global {
    .slick-prev {
      left: 50px;
    }
    .slick-next {
      right: 50px;
    }
  }
}

.sliderItem {
  background-color: transparent;
}

.sliderImage {
  margin: 0 auto;
  height: 450px;
  will-change: transform;

  @media (min-width: $deskXMin) and (max-width: $deskXMax) {
    height: 400px;
  }

  @media (min-width: $deskMin) and (max-width: $deskMax) {
    height: 350px;
  }

  @media (min-width: $tabMin) and (max-width: $tabMax) {
    height: 300px;
  }

  @media (min-width: $mobMin) and (max-width: $mobMax) {
    height: 150px;
  }
}

.dots {
  position: absolute;
  bottom: 20px;
}
