@import '../../theme/styles/var';

.footer {
  background-color: $colorDarkLight;
  position: relative;
  color: $colorWhite;
  font-size: 12px;
  line-height: 16px;
  padding: 30px 0;
}

.flexContainer {
  display: flex;

  @media screen and (max-width: 991px) {
    display: none;
  }
}
.mobile {
  text-align: center;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 992px) {
    display: none;
  }
}

.mobile ul li:not(:first-child) {
  margin-top: 25px;
  font-size: 20px;

  @media screen and (max-width: 470px) {
    margin-top: 20px;
    font-size: 16px;
  }
}
.contact__info {
  text-decoration: none;
  color:#fff;
}
.phones {
  font-size: 26px;
  @media screen and (max-width: 470px) {
    font-size: 20px;
  }
}
.column {
  flex: 1 0 4%;
}

.columnDouble {
  flex: 2 0 0%;
}

.colFlex {
  display: flex;
  flex-direction: column;
}

.logo {
  margin-bottom: 25px;
}
.copyright {
  margin-bottom: 15px;
}

.payment {
  margin-bottom: 20px;
}

.paymentBlock {
  margin-top: 10px;
}

.mobileVersion {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.heading {
  font-size: 14px;
  margin-bottom: 10px;
}

.menuList {
  font-size: 13px;
}

.menuItem {
  margin-bottom: 8px;
  position: relative;
}

.link {
  color: $colorWhite;
  cursor: pointer;
  &:hover {
    color: $colorCyanLight;
    border-bottom: 1px solid $colorCyanLight;
  }
}

.differentPagesList {
  margin-bottom: 30px;
}

.social {
  margin-top: 10px;
}

.socialLink {
  margin: 0 10px 10px 0;
}

.socIcon:hover svg path {
  fill: $colorCyanLight;
}

.contacts {
  padding-left: 20px;
}

.contactsColumn {
  display: flex;
  justify-content: space-between;
}

.icons {
  position: absolute;
  left: -20px;
  top: 1px;
}

.call {
  cursor: pointer;
}

.geolocation {
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.geolocationIcons {
  position: absolute;
  left: -22px;
  top: calc(50% - 10px);
}

.adress {
  word-spacing: nowrap;
  margin-bottom: 5px;
}
