.customer {
  font-size: 18px;
  font-weight: 700;
}
.comment > * {
  margin-top: 15px;
  margin-bottom: 15px;
}
.comment {
  margin-bottom: 20px;
  border: 1px solid #999999;
  border-radius: 5px;
  padding: 15px;
}
.iconsContainer {
  width: 80px;
  display: flex;
  justify-content: space-between;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.commentText {
  margin-top: 5px;
}

.name__date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date {
  font-size: 12px;
}
