@import '../../../theme/styles/var';

.orderIconListItem,
.centerBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productToCart {
  display: block;
  text-align: center;
  padding-top: 5px;
  font-size: 14px;
  font-weight: 500;
  color: $colorCyan;
  position: absolute;
}

.infoCart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
  @media (min-width: $mobMin) and (max-width: $tabMax) {
    display: none;
  }
}

.menuOrderTitle {
  white-space: nowrap;
  margin: 0 0 7px;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  color: white;
}

.menuOrderPrice {
  color: white;
  font-size: 14px;
}
