@import '../../../theme/styles/var';

.messageServer {
  color: $colorRedPigment;
  margin-bottom: 20px;
  text-align: right;
}

.buttonCont {
  display: flex;
  justify-content: flex-end;
}

.widthCont {
  width: 75%;
}

.labelForCheckbox {
  padding-left: 10px;
}

.checkbox {
  text-align: center;
  margin-bottom: 15px;
}

.disabled {
  background-color: #D3D3D3;
  color: #808080;
}
.disabled:hover {
  background-color: #D3D3D3;
  color: #808080;
}