@import '../../../theme/styles/var';

.buttonCont {
  display: flex;
  justify-content: flex-end;
}

.widthCont {
  width: 75%;
}

.labelForCheckbox {
  padding-left: 10px;
}

.checkbox {
  text-align: center;
  margin-bottom: 15px;
}

.disabled {
  background-color: #d3d3d3;
  color: #808080;
}
.disabled:hover {
  background-color: #d3d3d3;
  color: #808080;
}
