@import '../../../theme/styles/var';

.messageServer {
  color: $colorRedPigment;
  margin-bottom: 20px;
  text-align: right;
}

.buttonCont {
  display: flex;
  justify-content: flex-end;
}

.widthCont {
  width: 75%;
}
