@import '../../theme/styles/var';
@import '../../theme/styles/mixins';

.containerPage {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 570px;
  @extend %custom-shadow;
  @extend %custom-border;
}

.formContainer {
  white-space: nowrap;
  margin-left: 50px;
  padding: 40px 40px 20px;
}
