@import '../../utils/styles/var';

.item {
  margin: 10px 0 20px;
  &:last-child {
    margin: 10px 0 10px;
  }
}

.link {
  border-radius: 5px;
  white-space: nowrap;
  padding: 7px;
  font-size: 17px;
  color: #000;
  &:hover {
    color: $colorButnHover;
  }
}

.linkActive {
  background-color: $colorButton;
  color: #fff;
  &:hover {
    color: #000;
  }
}
