.title {
  text-align: center;
  color: #fff;
  margin: 0;
}

@mixin container_select() {
  align-items: flex-start;
}
.select {
  &_heading {
    margin: 10px 5px 10px 5px;
  }
  &_container_box {
    background-color: rgb(31, 31, 48);
    position: relative;
    display: block;
    min-width: 260px;
    max-width: 280px;
  }
  &_btn {
  }
}

.select_box {
  @include container_select();
  justify-content: space-between;
  min-width: 260px;
  max-width: 100%;
}
.select_box_filter {
  @include container_select();
  flex-direction: column;
}
.select_box_sort {
  display: flex;
  align-items: center;
}
