@import '../../theme/styles/var';

.container {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100%;
  background: #202020;
  display: grid;
  align-items: center;
  top: 0;
  opacity: 0;
  right: -100%;
  transition: 0.3s ease-in-out;
}
.active {
  opacity: 0.95;
  right: 0;
}
.icon__container {
  position: absolute;
  top: 1.6rem;
  right: 1.9rem;
  background: transparent;
  font-size: 2rem;
  outline: none;
  cursor: pointer;
}
.menu__wrapper {
  color: #fff;
}
.menu__slideOut {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 80px);
  text-align: center;

  @media screen and (max-width: 768px) {
    grid-template-rows: repeat(5, 60px);
  }
}
.menuLink {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  padding: 10px 0;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
    color: $colorCyan;
  }
}
.menuLinkActive {
  color: $colorCyan;
  border-bottom: 2px solid $colorCyan;
}
