.option_item {
  display: flex;
  list-style: none;
  cursor: pointer;

  &_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px 8px 8px 8px;
  }
  &_range_box {
    height: 30px;
    min-width: 250px;
    // position: relative;
  }
  &_range {
    top: 0;
    left: 0%;
    position: absolute;
    min-width: 250px;
    &_track {
      margin: 5px 0;
      min-height: 4px;
      background-color: rgb(4, 126, 248);
    }
    &_mark {
      min-width: 15px;
      min-height: 15px;
      background-color: rgb(71, 147, 233);
      border-radius: 5px;
      border: 1px solid rgb(167, 164, 164);
      &:hover {
        border: 1px solid black;
      }
      &__active {
        border: 2px solid black;
      }
    }
  }
  &_input_box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_input {
    max-width: 70px;
    margin: 0 5px;
  }
  &:hover {
    color: rgb(71, 147, 233);
  }
}

.option_btn {
  min-width: 45px;
  min-height: 22px;
  background-color: transparent;
  border: 1px solid black;
  margin: 0 10px;
}

// .slider {
//   min-width: 200px;

//   position: relative;
//   z-index: 1;
//   height: 10px;
//   margin: 15px 15px;
// }
// .slider > .track {
//   position: absolute;
//   z-index: 1;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   border-radius: 5px;
//   background-color: #c6aee7;
// }
// .slider > .range {
//   position: absolute;
//   z-index: 2;
//   left: 25%;
//   right: 25%;
//   top: 0;
//   bottom: 0;
//   border-radius: 5px;
//   background-color: #6200ee;
// }
// .slider > .thumb {
//   position: absolute;
//   z-index: 3;
//   width: 30px;
//   height: 30px;
//   background-color: #6200ee;
//   border-radius: 50%;
//   box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.1);
//   transition: box-shadow 0.3s ease-in-out;
// }
// .slider > .thumb.left {
//   left: 25%;
//   transform: translate(-15px, -10px);
// }
// .slider > .thumb.right {
//   right: 25%;
//   transform: translate(15px, -10px);
// }
// .slider > .thumb.hover {
//   box-shadow: 0 0 0 20px rgba(98, 0, 238, 0.1);
// }
// .slider > .thumb.active {
//   box-shadow: 0 0 0 40px rgba(98, 0, 238, 0.2);
// }

// input[type='range'] {
//   position: absolute;
//   pointer-events: none;
//   -webkit-appearance: none;
//   z-index: 2;
//   height: 10px;
//   width: 100%;
//   opacity: 0;
// }
// input[type='range']::-webkit-slider-thumb {
//   pointer-events: all;
//   width: 30px;
//   height: 30px;
//   border-radius: 0;
//   border: 0 none;
//   background-color: red;
//   -webkit-appearance: none;
// }
