@import '../../utils/styles/var';

.item {
  display: grid;
  width: min-content;
  padding: 20px;
  border-radius: 3px;
  margin: 15px 0 15px 0;
  grid-template-columns: min-content;
  grid-template-rows: 240px 40px 30px 40px;

  &:hover {
    box-shadow: 0 3px 15px -6px black;
  }

  &:hover > .btnSection {
    opacity: 100%;
  }

  @media (min-width: $tabMin) and (max-width: $tabMax) {
    grid-template-rows: 240px 40px 30px 40px;
  }
  @media (max-width: $mobMax) {
    grid-template-rows: 180px 40px 30px 20px;
  }
}

.productImg {
  width: 230px;
  @media (min-width: $deskXMin) and (max-width: $deskXMax) {
    width: 200px;
  }
  @media (min-width: $deskMin) and (max-width: $deskMax) {
    width: 180px;
  }
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    width: 150px;
  }
  @media (max-width: $mobMax) {
    width: 150px;
  }
}

.name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-decoration: none;
  color: #000;
  text-align: left;
  transition: 0.2s ease all;

  &:hover {
    color: $colorButnHover;
    text-decoration: none;
  }

  @media (min-width: $tabMin) and (max-width: $tabMax) {
    font-size: 15px;
  }
  @media (max-width: $mobMax) {
    font-size: 13px;
  }
}

.priceSection {
  display: flex;
  justify-content: flex-start;
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    font-size: 15px;
  }
  @media (max-width: $mobMax) {
    font-size: 13px;
  }
}

.previousPrice {
  margin-left: 30px;
  color: $colorTextFooter;
}

.currentPrice {
  font-weight: bold;
}

.newMessage {
  position: absolute;
  background-color: $colorButton;
  color: white;
  border-radius: 3px;
  padding: 2px;
  font-size: 11px;
  transform: translateY(215px);

  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    margin-top: 13px;
    border: 6px solid transparent;
    border-top: 5px solid $colorButton;
  }
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    font-size: 15px;
  }
  @media (max-width: $mobMax) {
    font-size: 13px;
  }
}

.btnSection {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  margin-top: 20px;
  vertical-align: center;
  align-items: center;
  @media (max-width: $deskXMax) {
    opacity: 100%;
  }
}

.favIcon {
  fill: white;
  stroke: #7d7d7d;
}

.favIconActive {
  fill: $colorSecondary;
  stroke: $colorSecondary;
}
