@import '../../utils/styles/var';


.item {
  width: min-content;
  padding: 20px;
  border-radius: 3px;
  margin: 15px 0 15px 0;

  &:hover {
    box-shadow: 0px 3px 15px -6px black;
  }

  &:hover > .btnSection {
    opacity: 100%;
  }
}

.productImg{
  width: 230px;
}

.name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-decoration: none;
  color: #000;
  margin-top: 30px;
  text-align: left;
  transition: 0.2s ease all;

  &:hover {
    color: $colorButnHover;
    text-decoration: none;
  }
}

.priceSection {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.previousPrice {
  margin-left: 30px;
  color: $colorTextFooter;
}

.currentPrice {
  font-weight: bold;
}

.newMessage {
  position: absolute;
  background-color: $colorButton;
  color: white;
  border-radius: 3px;
  padding: 2px;
  font-size: 11px;

  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    margin-top: 13px;
    border: 6px solid transparent;
    border-top: 5px solid $colorButton;
  }
}


.btnSection {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  margin-top: 20px;
  vertical-align: center;
  align-items: center;
}

.favIcon{
  fill: $colorTextFooter;
}
.favIconActive{
  fill: $colorSecondary;
}