
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #fff;
  text-align: left;
  margin: 0;

}

ul.breadcrumb li {
  display: inline;
  font-size: 12px;
}


ul.breadcrumb li + li:before {
  color: grey;
  content: ">";
}

.link {
  text-decoration: none;
  color: grey;
  padding: 5px 10px;

}

.link__active {
  color: blue;
  border-bottom: 2px solid blue;
  padding: 5px 10px;

}
