@import '../../../utils/styles/mixins';

.container {
  min-width: 270px;
  padding: 20px;
  margin-right: 10px;
  @extend %custom-shadow;
  @extend %custom-border;
  min-height: 10%;
  max-height: 50%;
  background-color: #fff;
  padding: 0 0 30% 0;
}
