@import '../../theme/styles/var';
@import '../../theme/styles/mixins';

.productsPage {
  font-size: 14px;
}

.breadCrumbs {
  display: flex;
  align-items: center;
  color: $colorDimGray;
  font-size: 11px;
  margin-bottom: 10px;
}

.crumbsLink {
  color: $colorDimGray;
  &:hover {
    color: $colorCyanLight;
  }
}

.iconBreadcrumbs {
  padding: 0 3px;
  &::before {
    content: '\203A';
    font-size: 20px;
    line-height: 0;
    position: relative;
    top: 2px;
  }
}

.categoryTitle {
  margin: 20px 0;
  font-size: $fontSizeTitleH1;
  line-height: 1.1;
  font-weight: 400;

  @media (min-width: $tabMin) and (max-width: $tabMax) {
    font-size: $fontSizeTitleH1_tab;
  }

  @media (min-width: $mobMin) and (max-width: $mobMax) {
    font-size: $fontSizeTitleH1_mobile;
  }
}

.flexRow {
  display: flex;
  justify-content: space-between;
  @media (min-width: $mobMin) and (max-width: $mobMax) {
    flex-direction: column;
    max-width: $mobMax;
  }

  @media (min-width: $tabMin) and (max-width: $tabMax) {
    flex-direction: column;
    max-width: $tabMax;
  }
}
.filterTitle {
  display: block;
  text-align: center;
  margin: 0;
}

.catalogSettings {
  margin: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tabMin) and (max-width: $tabMax) {
    margin: 10px 20px;
  }

  @media (min-width: $mobMin) and (max-width: $mobMax) {
    margin: 5px 10px;
  }
}

.select_mobile {
  display: none;

  @media (min-width: $mobMin) and (max-width: $tabMax) {
    display: block;
    max-width: $tabMax;
  }
}
.select_desc {
  @media (min-width: $mobMin) and (max-width: $tabMax) {
    display: none;
  }
  @media (min-width: $deskMin) and (max-width: $deskXMax) {
    display: block;
  }
}

.viewIcons {
  width: 60px;
  display: flex;
  justify-content: space-between;
  @media (min-width: $mobMin) and (max-width: $tabMax) {
    display: none;
  }
}

.icon {
  cursor: pointer;
}

.select_mobile {
  @media (min-width: $mobMin) and (max-width: $tabMax) {
    max-width: $tabMax;
  }
  @media (min-width: $deskMin) and (max-width: $deskXMax) {
    display: none;
  }
  @media (min-width: $deskXMax) {
    display: none;
  }
}
.select_desc {
  @media (min-width: $mobMin) and (max-width: $tabMax) {
    display: none;
  }
  @media (min-width: $deskMin) and (max-width: $deskXMax) {
    display: block;
  }
}
