@import '../../utils/styles/var';

.productsPage {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // background-color: white;
  margin-top: 30px;
  font-size: 14px;
  // line-height: 1.3;
}

.breadCrumbs {
  display: flex;
  align-items: center;
  color: #868686;
  font-size: 11px;
  margin-bottom: 10px;
}

.crumbsLink {
  color: #868686;
  &:hover {
    color: $colorButnHover;
  }
}

.iconBreadcrumbs {
  padding: 0 3px;
  &::before {
    content: '\203A';
    font-size: 20px;
    line-height: 0;
    position: relative;
    top: 2px;
  }
}
.categoryTitle {
  margin: 20px 0;
  font-size: 32px;
  line-height: 1.1;
  font-weight: 400;
}
.flexRow {
  display: flex;
  justify-content: space-between;
}
.filterContainer {
  margin-right: 10px;
  height: 100%;
}
