//** Primary Buy buttons color === #05c0c7; */

html {
  box-sizing: border-box;
}
body {

  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
