//** Primary Buy buttons color === #37B7FA; */

html {
  box-sizing: border-box;
}
body {

  margin: 0;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

