@import '../../utils/styles/var';

.cart{
  width: min-content;
}
.image{
  width: 280px;
}

.description {
  text-align: left;
  padding: 15px;
}
.nameWrapper{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.name {
  color: #000;
}

.priceWrapper{
  margin: 15px 0;
  display: flex;
  gap: 20px;
}

.price{
  font-weight: bold;
}

.previousPrice{
  color: $colorTextFooter;
  font-size: 15px;
}

.buttonSection{
  display: flex;
  align-items: center;
  vertical-align: center;
  justify-content: space-between;
}