.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // height: 100vh;
  background-color: #f0f0f0;
  padding: 20px 0;
}
.notfound {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.contant {
  margin-right: 50px;
}
.title {
  font-size: 86px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
  color: #151515;
}
.subTitle {
  font-size: 26px;
  margin: 0;
  font-weight: 700;
  color: #151515;
  margin-bottom: 30px;
}
.img {
  height: 300px;
}

@media only screen and (max-width: 990px) {
  .img {
    height: 300px;
  }
  .title {
    font-size: 68px;
  }
  .subTitle {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .notfound {
    max-width: 450px;
  }
  .title {
    font-size: 48px;
  }
  .subTitle {
    font-size: 14px;
  }
}
@media only screen and (max-width: 480px) {
  .img {
    height: 200px;
  }
  .title {
    font-size: 68px;
  }
  .subTitle {
    font-size: 18px;
  }
}
