@import '../../utils/styles/var';

.title {
  font-size: 22px;
  padding: 10px 0;
  margin: 0 0 10px;
  display: flex;
  justify-content: center;
}

.content {
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.cancel {
  background-color: $colorButtonRed;
  &:hover {
    background-color: #ff0000;
  }
}
