//* Table */
// .table {
//     width: 100%;
//     border-collapse: collapse;
//   }
//   .table tbody tr:nth-of-type(odd) {
//     background-color: #dddddd;
//   }
//   .table td,
//   .table th {
//     text-align: left;
//     border: 0.1rem solid #e4e4e4;
//     padding: 0.5rem;
//   }
//   .table button {
//     margin: 0 0.2rem 0.5rem;
//   }
//   .table button:nth-child(even) {
//     background-color: red;
//   }
//*========================================

.grid_layout{
  border: 1px solid #ddd;
}
.grid_layout > li {
  display: grid;
  grid-template-columns: 2fr 2fr 0.8fr 1fr 0.8fr 1fr;
  word-break: break-all;
}
.productItem > div {
  padding: 20px 10px;

}
.grid_layout li:nth-child(even){
  background-color: #ddd;
}

.action_btn:nth-child(even) {
  background-color: red;
}
.create_btn,
.create_btn:hover {
  background-color: #f0c040;
}
.grid_layout > li > div:not(:nth-child(1)){
  border-left: 1px solid #ddd;
}
.grid_layout > li:nth-child(even) > div {
  border-left: 1px solid white;
}

.grid_layout > li > h3:not(:nth-child(1)){
  border-left: 1px solid #ddd;
}
.grid_layout > li:nth-child(even) > h3{
  border-left: 1px solid white;
}

.action_btn:nth-child(even){
  margin-top: 10px;
}
h3 {
  margin: 0;
  padding: 20px 10px;
  font-size: 14px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
