@import '../../../../utils/styles/var';

.container {
  width: 130px;
}
.header {
  cursor: pointer;
}
.title {
  font-size: 12px;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
  margin: 5px 0 5px;
  height: 50px;
  overflow: hidden;
  color: #000000;
  &:hover {
    color: $colorButnHover;
  }
}
.price {
  font-size: 12px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.button {
  text-align: center;
  margin: 10px auto 0;
}
