@import '../../theme/styles/mixins';
@import '../../theme/styles/var';

.container {
  width: 280px;
  padding: 20px;
  margin-right: 10px;
  @extend %custom-shadow;
  @extend %custom-border;
  min-height: 10%;
  max-height: 50%;
  background-color: $colorWhite;
  padding: 0 0 30% 0;

  @media (min-width: $mobMin) and (max-width: $tabMax) {
    display: none;
    visibility: hidden;
  }
}
